body {
    background: #008080;
}

h1 {
    text-align: center;
    color:rgb(99, 245, 8)
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 16.66%;  
    width: 50vw;
    height: 100vh;
    margin: auto;
    /* background-color: rgb(234, 238, 242); */
}

.text1 {
    position: absolute;
    color:rgb(99, 245, 8);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bolder;
    text-shadow: 1;
    text-align: center;    
   
}

.text1:hover {
    color: orange; 
     size: larger;}

div {
    position: relative;
    /* border: 2px solid rgb(245, 237, 237); */
    row-gap: 2px;
    column-gap: 2px;
   
}

img {
    height: 100%;
    width:100%;
    object-fit: cover;
    clip-path:  5px;
    /* filter: brightness(0.5) grayscale(10);
    transition: 0.3s ease-in-out; */
}

/* img:hover {
filter: brightness(1) grayscale(0);
} */

.div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

   }

.div2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
 
}

.div3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
   }

.div4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.div5 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.div6 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.div7 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.div8 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.div9 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

